@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&display=swap");
* {
    box-sizing: border-box;
}

html {
    font-size: 16px;
}

html,
body {
    overflow-x: hidden;
    background: rgb(246, 246, 246);
    font-family: Montserrat, sans-serif;
    color: rgb(28, 46, 53);
}

.container {
    max-width: 1280px;
    margin: 0px auto;
}

.left-menu {
    width: 6vh;
    position: fixed;
    top: 0px;
    right: 15px;
    margin-top: 15px;
    z-index: 100;
    cursor: pointer;
    display: none;
}

.lm-title {
    color: rgb(255, 255, 255);
    display: block;
    font-size: 4.1vh;
    line-height: 4vh;
    font-family: Roboto, sans-serif;
    font-weight: 600;
    text-decoration: none;
    margin-left: 1.5vh;
    margin-top: 1vh;
    text-shadow: rgba(0, 0, 0, 0.9) 0px 0px 6px;
}

.hand {
    margin-left: 0vh;
    margin-top: 0vh;
}

.lmblock {
    color: rgb(204, 204, 204);
    display: block;
    position: relative;
    margin: 0px;
    padding: 0px;
    width: 35px;
    font-size: 0px;
    cursor: pointer;
    transition: background 0.3s ease 0s;
}

.lmblock:focus {
    outline: none;
}

.lmblock div {
    margin-top: 1vh;
    width: 100%;
    background: rgb(145, 151, 151);
    transition: all 0.3s ease 0s;
    display: block;
    position: absolute;
    top: 7px;
    height: 2px;
}

.lmblock div::before,
.lmblock div::after {
    position: absolute;
    display: block;
    width: 100%;
    height: 2px;
    background-color: rgb(145, 151, 151);
    content: "";
}

.lmblock div::before {
    top: 10px;
}

.lmblock div::after {
    bottom: 10px;
}

.lmblock.toggle-hamburger__animx div {
    transition: background 0s ease 0.3s;
}

.lmblock.toggle-hamburger__animx div::before,
.lmblock.toggle-hamburger__animx div::after {
    transition-duration: 0.3s, 0.3s;
    transition-delay: 0.3s, 0s, 0.3s;
}

.lmblock.toggle-hamburger__animx div::before {
    transition-property: top, transform, background-color;
}

.lmblock.toggle-hamburger__animx div::after {
    transition-property: bottom, transform, background-color;
}

.lmblock.toggle-hamburger__animx.is-active div {
    background: none;
}

.lmblock.toggle-hamburger__animx.is-active div::before,
.toggle-hamburger.toggle-hamburger__animx.is-active div::after {
    background-color: rgb(145, 151, 151);
    transition-delay: 0s, 0.3s, 0s;
}

.lmblock.toggle-hamburger__animx.is-active div::before {
    top: 0px;
    background-color: rgb(145, 151, 151);
    transform: rotate(45deg);
}

.lmblock.toggle-hamburger__animx.is-active div::after {
    background-color: rgb(145, 151, 151);
    transition-delay: 0s, 0.3s, 0s;
    bottom: 0px;
    transform: rotate(-45deg);
}

#menuHand {
    width: 100vw;
    height: 0vh;
    background: white;
    margin-top: -150vh;
    z-index: 50;
    transition: all 0.5s ease 0s;
    display: none;
    position: fixed;
    -webkit-box-align: center;
    align-items: flex-start;
    -webkit-box-pack: center;
}

#menuHand li {
    height: 70px;
    width: 100vw;
    display: flex;
    align-items: center;
    z-index: 5;
    -webkit-box-pack: center;
    padding-left: 4.17%;
    border: 1px solid rgb(235, 235, 235);
}

#menuHand li a {
    display: flex;
    align-items: center;
    width: 100vw;
    transition: all 0.75s ease 0s;
    color: rgb(28, 46, 53);
    text-decoration: none;
    z-index: 5;
    font-weight: 500;
    font-size: 16px;
}

.menu__elem_last {
    position: absolute;
    bottom: 60px;
}

.menu__elem_active {
    background: rgba(237, 91, 78, 0.04);
}

.menu__elem_active svg path {
    fill: rgb(237, 91, 78);
}

.modal_wrap {
    width: 26.0417%;
    box-sizing: border-box;
    overflow: hidden;
    background: rgb(255, 255, 255);
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 20px;
    border-radius: 16px;
    padding-top: 2.5%;
}

.modal_thank {
    width: 20.8333%;
}

.modal_title {
    font: bold 2rem Manrope, sans-serif;
    margin-bottom: 2%;
    color: rgb(28, 46, 53);
    display: block;
    text-align: center;
}

.modal_text {
    text-align: center;
    padding: 0px 20px;
    font: 500 1rem Manrope, sans-serif;
    margin-bottom: 60px;
    color: rgb(28, 46, 53);
}

.modal_sub_title {
    margin-bottom: 10%;
    text-align: center;
    color: rgb(28, 46, 53);
    font: bold 1.75rem Montserrat, sans-serif;
}

.modal_sub_title span {
    color: rgb(237, 91, 78);
}

.modal_form {
    display: grid;
    grid-template-columns: 1fr;
    width: 100%;
    -webkit-box-align: center;
    align-items: center;
}

.input_box {
    width: 100%;
    position: relative;
    box-sizing: border-box;
    padding: 0px 12% 10%;
    display: flex;
}

.input_box input {
    width: 100%;
    box-sizing: border-box;
    padding: 4% 1%;
    appearance: none;
    border-top: none;
    border-right: none;
    border-left: none;
    border-image: initial;
    outline: none;
    font: 500 1rem Manrope, sans-serif;
    border-bottom: 1px solid rgb(199, 207, 207);
    color: rgb(28, 46, 53);
}

.input_box input:focus {
    border-color: rgb(237, 91, 78);
}

.input_box svg {
    position: absolute;
    right: 14%;
    bottom: 60%;
    cursor: pointer;
    z-index: 9;
}

.input_box svg:hover path {
    fill: rgb(237, 91, 78);
}

.eye_active path {
    fill: rgb(237, 91, 78);
}

.modal_panel_wrap {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    justify-content: space-between;
    width: 100%;
    box-sizing: border-box;
    padding: 0px 12% 10%;
}

.forget {
    text-decoration: none;
    font: 700 1rem Manrope, sans-serif;
    color: rgb(145, 151, 151);
}

.btn_send {
    width: 100%;
    box-sizing: border-box;
    padding: 3.6%;
    color: rgb(255, 255, 255);
    text-align: center;
    background: linear-gradient(90.26deg, rgb(234, 73, 92) -1.3%, rgb(243, 124, 53) 100.96%);
    border-radius: 0px 0px 14px 14px;
    font: 600 1.125rem Manrope, sans-serif;
    border: none;
    appearance: none;
    outline: none;
    cursor: pointer;
}

.btn_send:hover {
    background: linear-gradient(90.96deg, rgb(226, 57, 77) 0.09%, rgb(251, 114, 32) 105.35%);
}

.btn_send:active {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)),
        linear-gradient(90.96deg, rgb(226, 57, 77) 0.09%, rgb(251, 114, 32) 105.35%);
}

.thank_send {
    width: 100%;
    box-sizing: border-box;
    padding: 16px;
    color: rgb(255, 255, 255);
    text-align: center;
    background: linear-gradient(90.26deg, rgb(234, 73, 92) -1.3%, rgb(243, 124, 53) 100.96%);
    border-radius: 0px 0px 14px 14px;
    font: 600 1.125rem Manrope, sans-serif;
    border: none;
    appearance: none;
    outline: none;
    cursor: pointer;
    opacity: 0.6;
    transition: all 0.2s ease 0s;
    display: block;
    text-decoration: none;
}

.thank_send:hover {
    opacity: 1;
}

.checkbox input[type="checkbox"] {
    opacity: 0;
    position: absolute;
}

.checkbox label {
    position: relative;
    display: inline-block;
    cursor: pointer;
    padding-left: 35px;
    color: rgb(28, 46, 53);
    font: 500 1rem Manrope, sans-serif;
}

.checkbox label::before,
.checkbox label::after {
    position: absolute;
    content: "";
    display: inline-block;
}

.checkbox label::before {
    height: 22px;
    width: 22px;
    border: 2px solid rgb(237, 91, 78);
    border-radius: 3px;
    left: 0px;
    top: -2px;
}

.checkbox label::after {
    height: 7px;
    width: 14px;
    border-left: 3px solid rgb(255, 255, 255);
    border-bottom: 3px solid rgb(255, 255, 255);
    transform: rotate(-45deg);
    left: 4.5px;
    top: 4px;
}

.checkbox input[type="checkbox"] + label::after {
    content: none;
}

.checkbox input[type="checkbox"]:checked + label::after {
    content: "";
}

.checkbox input[type="checkbox"]:checked + label::before {
    background: rgb(237, 91, 78);
}

.disabled {
    opacity: 0.6;
}

.error_text {
    position: absolute;
    top: 105%;
    display: none;
    right: 0px;
    color: rgb(218, 11, 32);
    font: 400 0.7rem Manrope, sans-serif;
}

.input_box:active {
    border-color: rgb(218, 11, 32);
}

.error_text {
    display: block;
}

.padding {
    padding: 0px 70px;
}

.padding_mob {
    padding: 0px 70px;
}

.margin {
    margin-bottom: 80px;
}

.main_forms {
    min-height: calc(100vh - 80px);
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

footer {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    position: absolute;
    bottom: 0px;
    width: 100%;
    box-sizing: border-box;
    padding-bottom: 25px;
}

.footer_title {
    margin-bottom: 6px;
    color: rgb(156, 158, 166);
    font: 400 1rem Manrope, sans-serif;
}

.footer_title img {
    position: relative;
}

footer .footer_text {
    color: rgb(156, 158, 166);
    font: 300 0.75rem Manrope, sans-serif;
}

.header {
    width: 100%;
    height: 7.4%;
    z-index: 100;
    position: fixed;
    background: rgb(255, 255, 255);
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: end;
    justify-content: flex-end;
    box-shadow: rgba(0, 0, 0, 0.08) 0px 2px 4px;
}

.logo {
    font: 700 1.5rem Manrope, sans-serif;
    color: rgb(237, 91, 78);
    position: absolute;
    left: 45%;
    margin-right: 10px;
}

.logo_black {
    color: rgb(0, 0, 0);
}

.profile {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    margin-right: 8.3334%;
}

.prev-icon {
    width: 44px;
    height: 44px;
    background: rgba(237, 91, 78, 0.2);
    border-radius: 8px;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    margin-right: 14px;
}

.prev-icon__text {
    font: 800 1rem Manrope, sans-serif;
    color: rgb(237, 91, 78);
    text-transform: uppercase;
}

.user-name {
    font: 500 1rem Manrope, sans-serif;
    color: rgb(28, 46, 53);
}

.main {
    display: flex;
}

.menu {
    width: 6.5%;
    background: rgb(255, 255, 255);
    border: 1px solid rgb(235, 235, 235);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 7.4vh;
    height: calc(92.6vh);
    position: fixed;
}

.menu__item {
    height: 6.3vw;
    border-bottom: 1px solid rgb(235, 235, 235);
    border-top: 1px solid rgb(235, 235, 235);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: rgb(255, 255, 255);
    text-decoration: none;
}

.menu__item_active svg path {
    fill: rgb(237, 91, 78);
}

.menu__item_active {
    height: 6.3vw;
    border-bottom: 1px solid rgb(235, 235, 235);
    border-top: 1px solid rgb(235, 235, 235);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    background: rgba(237, 91, 78, 0.04);
    border-left: 5px solid red;
}

.menu__item__icon {
    margin-bottom: 4.1666%;
    width: 34.61%;
}

.menu__items__title {
    font: 500 0.8125rem / 18px Manrope, sans-serif;
    text-align: center;
    padding: 0px 35px;
    color: rgb(145, 151, 151);
}

.content {
    padding-top: 5.7292%;
    margin-right: 7%;
    width: 83.3334%;
    margin-left: 11.4583%;
}

.content-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 0.9854%;
}

.content__title {
    font: 600 1.5rem Manrope, sans-serif;
    color: rgb(28, 46, 53);
}

.content__title_number {
    color: rgb(145, 151, 151);
    font-weight: 700;
}

.btn_add {
    text-decoration: none;
    background: linear-gradient(92.96deg, rgb(234, 73, 92) -5.24%, rgb(243, 124, 53) 100.77%);
    width: 206px;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    transition: all 0.7s ease 0s;
}

.btn_add img {
    width: 8.5%;
    margin-right: 6.5%;
}

.btn_add span {
    font: 600 1rem Manrope, sans-serif;
    color: rgb(255, 255, 255);
}

.btn_add:hover {
    background: linear-gradient(90.96deg, rgb(226, 57, 77) 0.09%, rgb(251, 114, 32) 105.35%);
    transition: all 0.7s ease 0s;
}

.btn_add:active {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)),
        linear-gradient(90.96deg, rgb(226, 57, 77) 0.09%, rgb(251, 114, 32) 105.35%);
}

.list {
    filter: drop-shadow(rgba(0, 0, 0, 0.1) 0px 10px 20px);
    margin-bottom: 54px;
}

.list li {
    background: rgb(255, 255, 255);
}

.list__item {
    height: 3.3333vw;
    margin-left: 1.25%;
    margin-right: 1.25%;
    display: flex;
    border-bottom: 1px solid rgb(233, 234, 234);
}

.list__item_last {
    background: rgb(255, 255, 255);
    height: 64px;
    display: flex;
    border-radius: 0px 0px 10px 10px;
    align-items: center;
    justify-content: flex-end;
}

.list__item_names {
    height: 3.02083vw;
    background: rgb(238, 238, 238);
    border-radius: 10px 10px 0px 0px;
    border-bottom: 0px;
    display: flex;
}

.list__item_names .list__item__col_adress span {
    color: rgb(28, 46, 53);
}

.list__item__col {
    display: flex;
    align-items: center;
    filter: drop-shadow(rgba(0, 0, 0, 0.1) 0px 10px 20px);
}

.list__item__col_name {
    padding-left: 1.75%;
    width: 21vw;
    margin-right: 1vw;
}

.col_name_arrow {
    margin-right: 6px;
}

.list__item__col > span {
    font: 500 1rem Manrope, sans-serif;
    color: rgb(28, 46, 53);
}

.list__col_name {
    padding-left: 2.5%;
    width: 22vw;
    margin-right: 1vw;
}

.list__col_inn {
    width: 13vw;
    margin-right: 1vw;
}

.list__col_adress {
    width: 23vw;
    margin-right: 20px;
}

.list__item__arrows {
    padding-top: 3px;
}

.arrow {
    display: flex;
    margin-bottom: 2px;
    cursor: pointer;
}

.arrow_active svg path {
    fill: rgb(237, 91, 78);
}

.list__item__col_inn {
    width: 14vw;
    padding-right: 10px;
}

.list__item__col_adress {
    width: 23vw;
    margin-right: 20px;
}

.list__item__col_adress span {
    color: rgb(145, 151, 151);
    font: 500 1rem Manrope, sans-serif;
}

.list__item__col_count-sait span {
    font: 600 1rem / 22px Manrope, sans-serif;
    color: rgb(237, 91, 78);
}

.count-site {
    width: 24px;
    height: 24px;
    background: rgba(237, 91, 78, 0.2);
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.page-selector {
    position: absolute;
    left: 50%;
    display: flex;
    align-items: center;
}

.arrow-selector_left,
.arrow-selector_right {
    margin: 2px 0px 0px 5px;
    width: 12px;
    height: 15px;
}

.arrow-selector:hover path {
    stroke: rgb(237, 91, 78);
}

.numbers {
    display: flex;
}

.number-page {
    font: 700 1rem Manrope, sans-serif;
    color: rgb(145, 151, 151);
    margin: 0px 4px;
}

.number-page:hover {
    color: rgb(237, 91, 78);
}

.number-page_ellipsis {
    font: 700 1rem Manrope, sans-serif;
    color: rgb(145, 151, 151);
}

.number-page_active {
    color: rgb(237, 91, 78);
}

.select-number_of_pages {
    display: flex;
    align-items: center;
    justify-content: end;
    margin-right: 32px;
}

.select__text {
    font: 400 0.875rem Manrope, sans-serif;
    color: rgb(145, 151, 151);
    margin-right: 5px;
}

.selection {
    font: 400 0.875rem Manrope, sans-serif;
    padding: 8px;
    margin: 0px 5px 0px 0px;
    width: 46px;
    box-shadow: rgba(0, 0, 0, 0.04) 0px 1px 0px 1px;
    border: 1px solid rgb(233, 234, 234);
    border-radius: 5px;
    background-color: rgb(255, 255, 255);
    background-image: url("../img/icon/select_arrow.svg");
    appearance: none;
    background-repeat: no-repeat, repeat;
    background-position: 85% 51%;
    background-size: 0.65em;
}

.mobile_adapt {
    display: flex;
}

.sait-plight {
    display: flex;
    padding-top: 15px;
}

.sait-status {
    margin-right: 16px;
}

.sait-status:last-child img {
    margin-top: -2px;
}

.sait-status__img {
    margin-right: 7px;
}

.sait-status__span {
    font: 0.875rem Manrope, sans-serif;
    color: rgb(28, 46, 53);
}

.content_uptime {
    padding-top: 5.7292%;
    width: 68.125%;
}

.list__col_name-sait {
    padding-left: 2vw;
    width: 180px;
    margin-right: 83px;
}

.list__col_url {
    width: 191px;
    margin-right: 63px;
}

.list__col_client {
    width: 150px;
    margin-right: 63px;
}

.list__col_count-sait {
    width: 11vw;
}

.list__col_test {
    width: 122px;
    margin-right: 32px;
}

.list__col_uptime {
    width: 106px;
    margin-right: 35px;
}

.uptime-hint__icon {
    margin-right: 6px;
}

.uptime-hint__icon:hover {
    cursor: pointer;
}

.list__col_bitrix {
    width: 98px;
    margin-right: 48px;
}

.mobile_adapt_names {
    display: flex;
}

.mobile_adapt_date {
    display: flex;
}

.list__item__col_name-sait {
    padding-left: 3.5%;
    width: 165px;
    margin-right: 83px;
}

.list__item__col_url {
    width: 191px;
    margin-right: 63px;
}

.list__item__col_client {
    width: 150px;
    margin-right: 63px;
}

.list__item__col_count-sait {
    width: 11vw;
}

.list__item__col_test {
    width: 122px;
    margin-right: 34px;
}

.list__item__col_uptime {
    width: 106px;
    margin-right: 35px;
}

.list__item__col_bitrix {
    width: 98px;
    margin-right: 48px;
}

.list__item__col_name-sait span {
    color: rgb(237, 91, 78);
}

.list__item__col_client span {
    color: rgb(145, 151, 151);
}

.block-warnings {
    margin-top: 160px;
    width: 13.5416%;
    margin-right: 2%;
    filter: drop-shadow(rgba(0, 0, 0, 0.1) 0px 10px 20px);
    border-radius: 10px;
    background: rgb(255, 255, 255);
    padding: 24px;
    height: 100%;
}

.block-warnings__img {
    margin-bottom: 4px;
}

.block-warnings__span {
    margin-bottom: 18px;
    padding-bottom: 16px;
    border-bottom: 1px solid rgb(233, 234, 234);
    font: 400 0.75rem Manrope, sans-serif;
    display: block;
}

.block-warnings__link {
    color: rgb(237, 91, 78);
    font: 600 1rem Manrope, sans-serif;
}

.uptime-hint {
    position: absolute;
    width: 226px;
    top: 45px;
    padding: 10px 16px;
    right: 15vw;
    background: rgb(28, 46, 53);
    opacity: 0.95;
    border-radius: 4px;
    display: none;
    z-index: 1;
}

.uptime-hint__span {
    color: rgb(255, 255, 255);
    font: 0.875rem Manrope, sans-serif;
}

.uptime-hint__span span {
    font-weight: 600;
}

.block-warnings ul {
    margin-bottom: 12px;
}

.block-warnings li {
    margin-bottom: 8px;
}

.more-sait-error__span {
    font: 600 1rem Manrope, sans-serif;
    color: rgb(237, 91, 78);
    padding: 4px 8px;
    background: rgba(238, 92, 79, 0.2);
    border-radius: 8px;
    cursor: pointer;
    display: none;
}

.hide-arrow {
    display: none;
}

.shield {
    stroke: rgb(237, 91, 78);
    fill: none !important;
}

.content__title_arrow {
    display: flex;
    align-items: center;
}

.content__title__arrow {
    margin-right: 14px;
}

.form-create-edit {
    margin-top: 12px;
    width: 60%;
    background: rgb(255, 255, 255);
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 20px;
    border-radius: 16px;
    padding: 2.63% 37px 3% 43px;
    margin-bottom: 50px;
}

.form__buttons {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.input-field__text {
    color: rgb(218, 11, 32);
    font: 400 0.6875rem Manrope, sans-serif;
    text-align: end;
    margin-bottom: 2%;
}

.submit-button {
    padding: 1.7% 20px;
    background: linear-gradient(92.96deg, rgb(234, 73, 92) -5.24%, rgb(243, 124, 53) 100.77%);
    border-radius: 10px;
    border: 0px;
    font: 600 1rem Manrope, sans-serif;
    color: rgb(255, 255, 255);
}

.submit-button_404 {
    padding: 16px 20px;
}

.cancel-button {
    font: 600 1rem Manrope, sans-serif;
    color: rgb(145, 151, 151);
    margin-right: 28px;
}

.input-field {
    display: flex;
    justify-content: space-between;
    margin-bottom: 2.5%;
    align-items: center;
}

.switch-btn_wrapper {
    width: 50%;
}

.input-field__label {
    font: 600 1rem Manrope, sans-serif;
    display: block;
}

.big-text_label {
    padding-top: 10px;
    align-self: baseline;
}

.input-field__input {
    padding: 1.5625% 1.5625% 1.5625% 15px;
    width: 50%;
    background: rgb(246, 246, 246);
    border-radius: 10px;
    border: 0px;
    font: 500 1em Manrope, sans-serif;
}

label.required::after {
    color: red;
    content: "    *";
    padding-left: 3px;
}

.big-text {
    padding-top: 10px;
    height: 5.4vw;
}

::-webkit-input-placeholder {
    color: rgb(145, 151, 151);
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    appearance: none;
    margin: 0px;
}

textarea {
    resize: none;
}

.switch-btn {
    display: inline-block;
    width: 48px;
    height: 24px;
    border-radius: 12px;
    background: rgb(145, 151, 151);
    z-index: 0;
    margin: 0px;
    padding: 0px;
    border: none;
    cursor: pointer;
    position: relative;
    transition-duration: 400ms;
}

.switch-btn::after {
    content: "";
    height: 24px;
    width: 24px;
    border-radius: 17px;
    background: rgb(255, 255, 255);
    box-shadow: rgba(0, 0, 0, 0.1) 0px 2px 8px, rgba(0, 0, 0, 0.1) 0px 2px 10px;
    transition-duration: 400ms;
    position: absolute;
    z-index: 1;
}

.switch-on {
    background: rgb(237, 91, 78);
}

.switch-on::after {
    left: 24px;
}

.content_404 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: calc(100vh - 80px);
}

.center-error-block {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.error404__img {
    margin-bottom: 16px;
}

.error404__text {
    font: 600 1.5rem Manrope, sans-serif;
    margin-bottom: 42px;
}

#star_1 {
    position: absolute;
    left: 830px;
    top: 410px;
}

#star_2 {
    position: absolute;
    left: 1165px;
    top: 600px;
}

#star_3 {
    position: absolute;
    left: 1165px;
    top: 340px;
}

#star_4 {
    position: absolute;
    left: 610px;
    top: 290px;
}

#star_5 {
    position: absolute;
    left: 1350px;
    top: 320px;
}

#star_6 {
    position: absolute;
    left: 670px;
    top: 630px;
}

@media screen and (max-width: 1600px) {
    .list__item__col span:not(.list__item_names .list__item__col span) {
        word-break: break-all;
        line-break: anywhere;
        line-height: 19px;
    }

    .list__col_name-sait {
        width: 195px;
        margin-right: 15px;
        padding-left: 30px;
    }

    .list__col_url {
        width: 200px;
        margin-right: 30px;
    }

    .list__col_client {
        width: 170px;
        margin-right: 15px;
    }

    .list__col_count-sait {
        width: 11vw;
    }

    .content_uptime {
        width: 75%;
        margin-left: 11.4583%;
    }

    .list__col_uptime {
        margin-right: 1vw;
    }

    .list__item__col_uptime {
        margin-right: 15px;
    }

    .list__item {
        margin-left: 20px;
    }

    .list__item__col_name-sait {
        margin-right: 15px;
        width: 175px;
        padding-left: 10px;
    }

    .list__item__col_client {
        margin-right: 40px;
        width: 150px;
    }

    .list__item__col_url {
        width: 200px;
        margin-right: 30px;
    }

    .list__item__col_bitrix {
        margin-right: 50px;
    }

    .list__item__col_test {
        margin-right: 30px;
    }
}

@media screen and (max-width: 1440px) {
    html {
        font: 14px Manrope, sans-serif;
    }

    .modal_title {
        font: bold 1.65rem Manrope, sans-serif;
    }

    .modal_sub_title {
        font: bold 1.65rem Manrope, sans-serif;
    }

    .btn_send {
        padding: 3%;
    }

    .modal_text {
        font: 500 0.875rem Manrope, sans-serif;
        margin-bottom: 40px;
    }

    .prev-icon {
        width: 31.304px;
        height: 31.304px;
    }

    .list__item__col_uptime {
        margin-right: 2px;
    }

    .list__item {
        margin-left: 20px;
    }

    .list__col_name-sait {
        width: 175px;
    }

    .list__item__col_name {
        width: 20.5vw;
    }

    .list__col_name {
        padding-left: 3%;
    }

    .list__item__col_name-sait {
        width: 140px;
    }

    .list__item__col_client {
        margin-right: 17px;
    }

    .list__item__col_url {
        width: 170px;
        margin-right: 20px;
    }

    .list__col_url {
        margin-right: 30px;
        width: 183px;
    }

    .list__item__col_test {
        margin-right: 17px;
    }

    .list__col_url {
        margin-right: 30px;
        width: 183px;
    }

    .list__col_bitrix {
        margin-right: 25px;
    }

    .list__col_access {
        width: 140px;
    }

    .list__item__col_bitrix {
        margin-right: 13px;
    }

    .error404__img {
        width: 180px;
    }

    .error404__text {
        font: 600 1.25rem Manrope, sans-serif;
    }

    #star_1 {
        left: 520px;
        top: 220px;
    }

    #star_2 {
        left: 850px;
        top: 420px;
    }

    #star_3 {
        left: 850px;
        top: 130px;
    }

    #star_4 {
        left: 350px;
        top: 120px;
    }

    #star_5 {
        left: 1050px;
        top: 110px;
    }

    #star_6 {
        left: 380px;
        top: 430px;
    }
}

@media screen and (max-width: 1280px) {
    .list__col_client {
        margin-right: 0px;
    }

    .padding {
        padding: 0px 45px;
    }

    .padding_mob {
        padding: 0px 45px;
    }

    .modal_wrap {
        width: 30%;
    }
}

@media screen and (max-width: 1024px) {
    html {
        font-size: 16px;
    }

    .sait-plight {
        display: none;
        background: rgb(28, 46, 53);
        border-radius: 4px;
        padding: 16px 16px 6px;
        left: 38vw;
    }

    .sait-status {
        margin-bottom: 10px;
    }

    .sait-status:nth-child(2) > img {
        margin-left: 1px;
        margin-right: 12px;
    }

    .sait-status:nth-child(3) > img {
        margin-left: 4px;
        margin-right: 14px;
    }

    .prev-icon {
        width: 44px;
        height: 44px;
    }

    .block-warnings {
        margin-top: 0px;
        padding: 10px;
        width: 50%;
    }

    .uptime_mobile {
        margin: 0px auto;
        color: rgb(145, 151, 151);
        font: 500 1.125rem Manrope, sans-serif;
        border-bottom: 2px dashed rgb(145, 151, 151);
    }

    .content_uptime {
        padding-top: 90px;
        width: 83%;
        margin-left: calc(7vw + 7%);
    }

    .sait-status__span {
        color: rgb(255, 255, 255);
    }

    .content-top {
        flex-wrap: wrap;
    }

    .content__title {
        width: 100%;
        margin-bottom: 10px;
    }

    .block-warnings_warn {
        display: flex;
        align-items: center;
    }

    .block-warnings ul {
        display: flex;
        flex-wrap: wrap;
    }

    .block-warnings li {
        width: 50%;
    }

    .more-sait-error {
        align-self: center;
    }

    .block-warnings__img {
        width: 46px;
        height: 46px;
        margin-right: 6px;
    }

    .block-warnings__span {
        margin-bottom: 12px;
        padding-bottom: 0px;
        line-height: 17px;
        align-self: center;
    }

    .list__item_names .list__col_name {
        width: 16vw;
        margin-right: 5vw;
    }

    .list__item_names .list__col_count-sait {
        width: 155px;
        margin-right: 10px;
    }

    .list__col_name {
        padding-left: 2.5%;
        width: 22vw;
        margin-right: 1vw;
    }

    .list__item__col_name {
        width: 19vw;
    }

    .list__col_inn {
        width: 13vw;
        margin-right: 1vw;
    }

    .list__col_adress {
        width: 15vw;
        margin-right: 10vw;
    }

    .content {
        margin-right: 70px;
        margin-left: calc(7vw + 70px);
        width: 80%;
        padding-top: 12%;
    }

    .menu__item {
        width: 11vw;
        height: 13vw;
    }

    .menu__item_active {
        width: 11vw;
        height: 11vw;
    }

    .menu {
        width: 11vw;
        height: calc(70vh - 80px);
    }

    .menu__items__title {
        font: 400 1rem Manrope, sans-serif;
    }

    .logo {
        left: 35%;
    }

    .page-selector {
        left: 6%;
    }

    .modal_wrap {
        width: 40%;
    }

    .list__item_names {
        height: 8.02083vw;
    }

    .list__item {
        height: 6vw;
    }
}

@media screen and (max-width: 990px) {
    html {
        font-size: 16px;
    }

    .margin {
        margin-bottom: 60px;
    }

    .padding {
        padding: 0px 15px;
    }

    .padding_mob {
        padding: 0px 15px;
    }

    .modal_sub_title {
        font: bold 1.375rem Manrope, sans-serif;
        margin-bottom: 24px;
    }

    .modal_text {
        margin-bottom: 30px;
    }

    .modal_title {
        font: bold 1.375rem Manrope, sans-serif;
        margin-bottom: 8px;
    }
}

@media screen and (max-width: 768px) {
    html {
        font-size: 16px;
    }

    .list__item_names .list__col_inn {
        margin-right: 7vw;
    }

    .list__item__col_inn {
        width: 140px;
    }

    .content {
        margin-right: 70px;
        margin-left: calc(7vw + 70px);
    }

    .menu {
        height: calc(92vh - 80px);
    }

    .modal_wrap {
        width: 60%;
    }
}

@media screen and (max-width: 767px) {
    html {
        font-size: 16px;
    }

    .input_box svg {
        bottom: 35%;
    }

    .main_forms {
        padding: 0px 5.55556%;
    }

    .modal_wrap {
        width: 100%;
        padding-top: 11.4286%;
    }

    footer {
        bottom: auto;
    }

    .header {
        justify-content: unset;
        height: 60px;
    }

    .profile {
        margin-right: 0px;
        padding-left: 14px;
    }

    .user-name {
        display: none;
    }

    .menu {
        display: none;
    }

    .content {
        margin-left: 0px;
        padding-top: 72px;
        width: 100%;
    }

    .content__title {
        font: 600 1.125rem Manrope, sans-serif;
    }

    .content__title__arrow {
        margin-bottom: 8px;
    }

    .btn_add {
        width: 46px;
        height: 46px;
        position: fixed;
        right: 16px;
        top: 60vh;
        z-index: 1;
    }

    .btn_add span {
        display: none;
    }

    .btn_add img {
        margin-right: 0px;
        width: 18px;
    }

    .list__item_names {
        display: none;
    }

    .list__item__col_name {
        width: 100%;
        padding-bottom: 8px;
    }

    .list__item {
        height: 105px;
        align-items: end;
        padding-top: 19px;
        justify-content: space-between;
        margin: 0px 16px;
    }

    .list__item__col_name {
        font: 500 0.875rem Manrope, sans-serif;
        padding-left: 0px;
        color: rgb(145, 151, 151);
    }

    .list__item__col_inn span {
        font: 500 0.875rem Manrope, sans-serif;
        color: rgb(145, 151, 151);
    }

    .list__item__col_adress {
        width: 100%;
    }

    .list__item__col_adress span {
        font: 500 0.875rem Manrope, sans-serif;
    }

    .list__item_last {
        flex-direction: column;
        justify-content: center;
        width: 100vw;
        height: 100%;
    }

    .page-selector {
        position: inherit;
        width: 100vw;
        align-items: center;
        justify-content: space-between;
        padding: 24px 10px;
    }

    .mobile_adapt {
        flex-direction: column;
    }

    .select-number_of_pages {
        padding: 5px 0px 25px;
        margin-right: 0px;
    }

    .number-page {
        margin-right: 7px;
    }

    .left-menu {
        display: block;
    }

    .menu__item__icon {
        margin-right: 4.17%;
        width: 9vw;
        height: 11vw;
        margin-bottom: 0px;
    }

    .content-top {
        padding: 16px;
        width: 100%;
        margin-bottom: 10px;
    }

    .block-warnings {
        width: 100%;
        margin-bottom: 14px;
    }

    .content_uptime {
        width: 100%;
        margin-left: 0px;
    }

    .sait-plight {
        margin: 0px auto 20px;
        z-index: 1;
    }

    .mobile_adapt_names {
        display: block;
    }

    .list__item__col_name-sait {
        padding-left: 0px;
        width: calc(100vw - 32px);
        margin-bottom: 10px;
    }

    .list__item__col_url {
        width: 100%;
        margin-bottom: 10px;
    }

    .list__item__col_client {
        display: none;
    }

    .list__item__col_count-sait {
        width: auto;
    }

    .mobile_adapt_date .list__item__col {
        display: flex;
        width: calc(100vw - 32px);
        justify-content: space-between;
        margin-bottom: 10px;
    }

    .mobile_adapt_date {
        flex-direction: column;
    }

    .content_uptime .list__item {
        height: auto;
    }

    .mobile_adapt_date .list__item__col span {
        color: rgb(145, 151, 151);
    }

    .mobile_adapt_date .list__item__col img {
        margin-right: 4px;
    }

    .mobile_adapt_date .list__item__col .exclamation {
        margin-right: 9px;
    }

    .mobile_adapt_date .list__item__col .question {
        margin-right: 9px;
    }

    .list__item__col span:not(.list__item_names .list__item__col span) {
        word-break: normal;
        line-break: auto;
    }

    .list__item__col_name-sait span {
        font: 600 1rem Manrope, sans-serif;
    }

    .form-create-edit {
        width: 100%;
        border-radius: 10px;
        padding: 26px 16px 40px;
        flex-direction: column;
    }

    .input-field {
        align-items: inherit;
        flex-direction: column;
        margin-bottom: 24px;
    }

    .input-field_switch {
        flex-direction: row;
    }

    .switch-btn_wrapper {
        display: flex;
        justify-content: flex-end;
    }

    .input-field__input {
        padding: 13px;
        width: 100%;
    }

    .input-field__label {
        margin-bottom: 6px;
    }

    .big-text {
        height: 144px;
    }

    .submit-button {
        padding: 16px 20px;
    }

    .submit-button_404 {
        position: absolute;
        bottom: 24px;
        left: 16px;
        width: calc(100vw - 32px);
        text-align: center;
    }

    .error404__img {
        width: 158.76px;
        height: 66px;
    }

    .error404__text {
        font: 600 1rem Manrope, sans-serif;
    }

    #star_4,#star_5,#star_6 {
        display: none;
    }

    #star_1 {
        left: 20%;
        top: 35%;
        width: 21px;
        height: 21px;
    }

    #star_2 {
        left: 62%;
        top: 56%;
        width: 31px;
        height: 21px;
    }

    #star_3 {
        left: 80%;
        top: 30%;
        width: 26px;
        height: 26px;
    }
}

@media screen and (max-width: 576px) {
    .padding_mob {
        padding: 0px;
    }

    .modal_panel_wrap {
        width: auto;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        flex-direction: column;
    }

    .input_box {
        padding: 0px 7.14286%;
    }

    .modal_form {
        gap: 35px;
    }

    .modal_text br {
        display: none;
    }

    .forget {
        margin-top: 8.92857%;
    }
}

@media screen and (max-width: 355px) {
    .modal_form {
        gap: 25px;
    }

    .modal_sub_title {
        margin-bottom: 10px;
    }
}
