@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&display=swap");

* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

html {
    font-size: 16px;
}

html,
body {
    overflow-x: hidden;
    background: #f6f6f6;
    font-family: "Montserrat", sans-serif;
    color: #1c2e35;
}

.container {
    max-width: 1280px;
    margin: 0 auto;
}

/* menu for handlend  */

.left-menu {
    width: 6vh;
    position: fixed;
    top: 0px;
    right: 15px;
    margin-top: 15px;
    z-index: 100;
    cursor: pointer;
    display: none;
}

.lm-title {
    color: #ffffff;
    display: block;
    font-size: 4.1vh;
    line-height: 4vh;
    font-family: "Roboto", sans-serif;
    font-weight: 600;
    text-decoration: none;
    margin-left: 1.5vh;
    margin-top: 1vh;
    text-shadow: 0 0 6px rgba(0, 0, 0, 0.9);
}

.hand {
    margin-left: 0vh;
    margin-top: 0vh;
}

/* button starting stylings ------------------------------- */
.lmblock {
    color: #ccc;
    display: block;
    position: relative;
    margin: 0;
    padding: 0;
    width: 35px;
    font-size: 0;
    cursor: pointer;
    -webkit-transition: background 0.3s;
    -o-transition: background 0.3s;
    transition: background 0.3s;
}
.lmblock:focus {
    outline: none;
}

/* inner span stylings ------------------------------- */
.lmblock div {
    margin-top: 1vh;
    width: 100%;
    background: #919797;
    display: block;
    transition: all 0.3s;
    display: block;
    position: absolute;
    top: 7px;
    height: 2px;
}
.lmblock div::before,
.lmblock div::after {
    position: absolute;
    display: block;
    width: 100%;
    height: 2px;
    background-color: #919797;
    content: "";
}
.lmblock div::before {
    top: 10px;
}
.lmblock div::after {
    bottom: 10px;
}

.lmblock.toggle-hamburger__animx div {
    -webkit-transition: background 0s 0.3s;
    transition: background 0s 0.3s;
}
.lmblock.toggle-hamburger__animx div::before,
.lmblock.toggle-hamburger__animx div::after {
    transition-duration: 0.3s, 0.3s;
    transition-delay: 0.3s, 0s, 0.3s;
}
.lmblock.toggle-hamburger__animx div::before {
    transition-property: top, transform, background-color;
}
.lmblock.toggle-hamburger__animx div::after {
    transition-property: bottom, transform, background-color;
}

/* when menu open: */
.lmblock.toggle-hamburger__animx.is-active div {
    background-color: #919797;
    background: none;
}
.lmblock.toggle-hamburger__animx.is-active div::before,
.toggle-hamburger.toggle-hamburger__animx.is-active div::after {
    background-color: #919797;
    transition-delay: 0s, 0.3s, 0s;
}
.lmblock.toggle-hamburger__animx.is-active div::before {
    top: 0;
    background-color: #919797;
    transform: rotate(45deg);
}
.lmblock.toggle-hamburger__animx.is-active div::after {
    background-color: #919797;
    transition-delay: 0s, 0.3s, 0s;
    bottom: 0;
    transform: rotate(-45deg);
}

#menuHand {
    width: 100vw;
    height: 0vh;
    background: white;
    margin-top: -150vh;
    z-index: 50;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
    display: none;
    position: fixed;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: flex-start;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
}

#menuHand li {
    display: -webkit-box;
    display: -ms-flexbox;
    height: 70px;
    width: 100vw;
    display: flex;
    align-items: center;
    z-index: 5;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    padding-left: 4.17%;
    border: 1px solid #ebebeb;
}

#menuHand li a {
    display: flex;
    align-items: center;
    width: 100vw;
    -webkit-transition: 0.75s;
    -o-transition: 0.75s;
    transition: 0.75s;
    color: #1c2e35;
    text-decoration: none;
    z-index: 5;
    font-weight: 500;
    font-size: 16px;
}

.menu__elem_last {
    position: absolute;
    bottom: 60px;
}

.menu__elem_active {
    background: #ed5b4e0a;
}

.menu__elem_active svg path {
    fill: #ed5b4e;
}

/* end menu for handlend  */

.modal_wrap {
    width: 26.0416667%;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    /* max-width: 500px; */
    overflow: hidden;
    background: #fff;
    -webkit-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
    border-radius: 16px;
    padding-top: 2.5%;
}

.modal_thank {
    width: 20.833333333%;
}

.modal_title {
    font: bold 2rem "Manrope", sans-serif;
    margin-bottom: 2%;
    color: #1c2e35;
    display: block;
    text-align: center;
}

.modal_text {
    text-align: center;
    padding: 0 20px;
    font: 500 1rem "Manrope", sans-serif;
    margin-bottom: 60px;
    color: #1c2e35;
}

/* Вход в систему */

.modal_sub_title {
    margin-bottom: 10%;
    text-align: center;
    color: #1c2e35;
    font: bold 1.75rem "Montserrat", sans-serif;
}

.modal_sub_title span {
    color: #ed5b4e;
}

.modal_form {
    display: grid;
    grid-template-columns: 1fr;
    width: 100%;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.input_box {
    width: 100%;
    margin: 0 auto;
    position: relative;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0 12% 10% 12%;
    display: flex;
}

.input_box input {
    width: 100%;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 15px 5px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: none;
    outline: none;
    font: 500 1rem "Manrope", sans-serif;
    border-bottom: 1px solid #c7cfcf;
    color: #1c2e35;
}

.input_box input:focus {
    border-color: #ed5b4e;
}

.input_box svg {
    position: absolute;
    right: 14%;
    bottom: 60%;
    cursor: pointer;
    z-index: 9;
}

.input_box svg:hover path {
    fill: #ed5b4e;
}

.eye_active path {
    fill: #ed5b4e;
}

.modal_panel_wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    width: 100%;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0 12% 10% 12%;
}

.forget {
    text-decoration: none;
    font: 700 1rem "Manrope", sans-serif;
    color: #919797;
}

.btn_send {
    width: 100%;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 3.6%;
    color: #fff;
    text-align: center;
    background: -o-linear-gradient(359.74deg, #ea495c -1.3%, #f37c35 100.96%);
    background: linear-gradient(90.26deg, #ea495c -1.3%, #f37c35 100.96%);
    border-radius: 0 0 14px 14px;
    font: 600 1.125rem "Manrope", sans-serif;
    border: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    outline: none;
    cursor: pointer;
}

.btn_send:hover {
    background: -o-linear-gradient(359.04deg, #e2394d 0.09%, #fb7220 105.35%);
    background: linear-gradient(90.96deg, #e2394d 0.09%, #fb7220 105.35%);
}

.btn_send:active {
    background: -o-linear-gradient(bottom, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)),
        -o-linear-gradient(359.04deg, #e2394d 0.09%, #fb7220 105.35%);
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)),
        linear-gradient(90.96deg, #e2394d 0.09%, #fb7220 105.35%);
}

.thank_send {
    width: 100%;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 16px;
    color: #fff;
    text-align: center;
    background: -o-linear-gradient(359.74deg, #ea495c -1.3%, #f37c35 100.96%);
    background: linear-gradient(90.26deg, #ea495c -1.3%, #f37c35 100.96%);
    border-radius: 0 0 14px 14px;
    font: 600 1.125rem "Manrope", sans-serif;
    border: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    outline: none;
    cursor: pointer;
    opacity: 0.6;
    -webkit-transition: 0.2s;
    -o-transition: 0.2s;
    transition: 0.2s;
    display: block;
    text-decoration: none;
}

.thank_send:hover {
    opacity: 1;
}

.checkbox input[type="checkbox"] {
    opacity: 0;
    position: absolute;
}

.checkbox label {
    position: relative;
    display: inline-block;
    cursor: pointer;
    padding-left: 35px;
    color: #1c2e35;
    font: 500 1rem "Manrope", sans-serif;
}

.checkbox label::before,
.checkbox label::after {
    position: absolute;
    content: "";
    display: inline-block;
}

.checkbox label::before {
    height: 22px;
    width: 22px;
    border: 2px solid #ed5b4e;
    border-radius: 3px;
    left: 0px;
    top: -2px;
}

.checkbox label::after {
    height: 7px;
    width: 14px;
    border-left: 3px solid #fff;
    border-bottom: 3px solid #fff;
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
    left: 4.5px;
    top: 4px;
}

.checkbox input[type="checkbox"] + label::after {
    content: none;
}

.checkbox input[type="checkbox"]:checked + label::after {
    content: "";
}

.checkbox input[type="checkbox"]:checked + label::before {
    background: #ed5b4e;
}

.disabled {
    opacity: 0.6;
}

.error_text {
    position: absolute;
    top: 105%;
    display: none;
    right: 0;
    color: #da0b20;
    font: 400 0.7rem "Manrope", sans-serif;
}

.input_box:active {
    border-color: #da0b20;
}

.error_text {
    display: block;
}

.padding {
    padding: 0 70px;
}

.padding_mob {
    padding: 0 70px;
}

.margin {
    margin-bottom: 80px;
}

.main_forms {
    min-height: calc(100vh - 80px);
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    position: absolute;
    bottom: 0;
    width: 100%;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding-bottom: 25px;
    /* display: none; */
}

.footer_title {
    margin-bottom: 6px;
    color: #9c9ea6;
    font: 400 1rem "Manrope", sans-serif;
}

.footer_title img {
    position: relative;
}

footer .footer_text {
    color: #9c9ea6;
    font: 300 0.75rem "Manrope", sans-serif;
}

.header {
    width: 100%;
    height: 80px;
    z-index: 100;
    position: fixed;
    background: #fff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.08);
}

.logo {
    font: 700 1.5rem "Manrope", sans-serif;
    color: #ed5b4e;
    position: absolute;
    left: 45%;
    margin-right: 10px;
}

.logo_black {
    color: #000;
}

.profile {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-right: 160px;
}

.prev-icon {
    width: 44px;
    height: 44px;
    background: #ed5b4e33;
    border-radius: 8px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-right: 14px;
}

.prev-icon__text {
    font: 800 1rem "Manrope", sans-serif;
    color: #ed5b4e;
    text-transform: uppercase;
}

.user-name {
    font: 500 1rem "Manrope", sans-serif;
    color: #1c2e35;
}

.main {
    display: flex;
}

.menu {
    width: 6.3vw;
    background: #fff;
    border: 1px solid #ebebeb;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 80px;
    height: calc(100vh - 80px);
    position: fixed;
}

.menu__item {
    width: 6.3vw;
    height: 6.3vw;
    border: 1px solid #ebebeb;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: #fff;
    text-decoration: none;
}

.menu__item_active svg path {
    fill: #ed5b4e;
}

.menu__item:hover {
    background: rgba(145, 151, 151, 0.1);
}

.menu__item:active {
    background: rgba(145, 151, 151, 0.2);
}

.menu__item_active {
    width: 6.3vw;
    height: 6.3vw;
    border: 1px solid #ebebeb;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    background: rgba(237, 91, 78, 0.04);
    border-left: 5px solid red;
}

.menu__item__icon {
    margin-bottom: 5px;
}

.menu__items__title {
    font: 500 0.8125rem "Manrope", sans-serif;
    text-align: center;
    line-height: 18px;
    padding: 0px 35px;
    color: #919797;
}

.content {
    padding-top: 110px;
    margin-right: 7%;
    width: 80%;
    margin-left: calc(7vw + 7%);
}

.content-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 17px;
}

.content__title {
    font: 600 1.5rem "Manrope", sans-serif;
    color: #1c2e35;
    padding-top: 8px;
}

.content__title_number {
    color: #919797;
    font-weight: 700;
}

.btn_add {
    text-decoration: none;
    background: linear-gradient(92.96deg, #ea495c -5.24%, #f37c35 100.77%);
    width: 206px;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    transition: 0.7s;
}

.btn_add img {
    width: 18px;
    margin-right: 13px;
}

.btn_add span {
    font: 600 1rem "Manrope", sans-serif;
    color: #ffffff;
}

.btn_add:hover {
    background: linear-gradient(90.96deg, #e2394d 0.09%, #fb7220 105.35%);
    transition: 0.7s;
}

.btn_add:active {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)),
        linear-gradient(90.96deg, #e2394d 0.09%, #fb7220 105.35%);
}

.list {
    filter: drop-shadow(0px 10px 20px rgba(0, 0, 0, 0.1));
    margin-bottom: 54px;
}

.list__item {
    background: #fff;
    height: 64px;
    display: flex;
    /* border-bottom: 1px solid rgb(250 250 250 / 80%); */
}

.list__item:hover {
    background: rgb(255 255 255 / 70%);
}

.list__item:active {
    background: rgb(255 255 255 / 50%);
}

.list__item_last {
    background: #fff;
    height: 64px;
    display: flex;
    border-radius: 0 0 10px 10px;
    align-items: center;
    justify-content: flex-end;
}

.list__item_names {
    height: 58px;
    background: rgba(238, 238, 238, 1);
    border-radius: 10px 10px 0 0;
    border-bottom: 0px;
    display: flex;
}

.list__item_names .list__item__col_adress span {
    color: #1c2e35;
}

.list__item__col {
    display: flex;
    align-items: center;
    filter: drop-shadow(0px 10px 20px rgba(0, 0, 0, 0.1));
}

.list__item__col_name {
    padding-left: 40px;
    width: 22vw;
}

.col_name_arrow {
    margin-right: 6px;
}

.list__item__col > span {
    font: 500 1rem "Manrope", sans-serif;
    color: #1c2e35;
}

.list__col_name {
    padding-left: 40px;
    width: 22vw;
}

.list__col_inn {
    width: 14vw;
    padding-right: 10px;
}

.list__col_adress {
    width: 23vw;
    margin-right: 20px;
}

.list__item__arrows {
    padding-top: 3px;
}

.arrow {
    display: flex;
    margin-bottom: 2px;
}

.arrow_bottom {
    display: flex;
    margin-bottom: 2px;
}

.list__item__col_inn {
    width: 14vw;
    padding-right: 10px;
}

.list__item__col_adress {
    width: 23vw;
    margin-right: 20px;
}

.list__item__col_adress span {
    color: #919797;
    font: 500 1rem "Manrope", sans-serif;
}

.list__item__col_count-sait span {
    font: 600 1rem "Manrope", sans-serif;
    line-height: 22px;
    color: #ed5b4e;
}

.count-site {
    width: 24px;
    height: 24px;
    background: rgba(237, 91, 78, 0.2);
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.page-selector {
    position: absolute;
    left: 50%;
    display: flex;
    align-items: center;
}

.arrow-selector {
    padding-bottom: 2px;
    margin: 0 5px 0 5px;
}
.number-page {
    font: 700 1rem "Manrope", sans-serif;
    color: #919797;
    margin: 0 4px;
}

.number-page_active {
    color: #ed5b4e;
}

.select-number_of_pages {
    display: flex;
    align-items: center;
    justify-content: end;
    margin-right: 32px;
}
.select__text {
    font: 400 0.875rem "Manrope", sans-serif;
    color: #919797;
    margin-right: 5px;
}

.selection {
    font: 400 0.875rem "Manrope", sans-serif;
    padding: 8px;
    margin: 0;
    width: 46px;
    box-shadow: 0 1px 0 1px rgba(0, 0, 0, 0.04);
    border: 1px solid #e9eaea;
    border-radius: 5px;
    margin-right: 5px;
    background-color: #fff;
    background-image: url("../img/icon/select_arrow.svg");
    appearance: none;
    background-repeat: no-repeat, repeat;
    background-position: 85% 51%;
    background-size: 0.65em;
}

.mobile_adapt {
    display: flex;
}

@media screen and (max-width: 1280px) {
    .padding {
        padding: 0 45px;
    }

    .padding_mob {
        padding: 0 45px;
    }

    .modal_wrap {
        width: 30%;
    }
}

@media screen and (max-width: 1024px) {
    html {
        font-size: 16px;
    }

    .list__item_names .list__col_name {
        width: 155px;
        margin-right: 70px;
    }

    .list__item_names .list__col_count-sait {
        width: 155px;
        margin-right: 10px;
    }

    .content {
        margin-right: 70px;
        margin-left: calc(7vw + 70px);
        width: 80%;
    }

    .menu__item {
        width: 11vw;
        height: 11vw;
    }

    .menu__item_active {
        width: 11vw;
        height: 11vw;
    }

    .menu {
        width: 11vw;
        height: calc(70vh - 80px);
    }

    .menu__item__icon {
        margin-bottom: 8px;
    }

    .menu__items__title {
        font: 400 1rem "Manrope", sans-serif;
    }

    .logo {
        left: 35%;
    }

    .page-selector {
        left: 6%;
    }

    .modal_wrap {
        width: 40%;
    }
}

@media screen and (max-width: 768px) {
    html {
        font-size: 16px;
    }

    .list__item_names .list__col_name {
        width: 155px;
        margin-right: 14px;
    }

    .list__item_names .list__col_inn {
        width: 240px;
    }

    .list__item__col_inn {
        width: 140px;
    }

    .content {
        margin-right: 70px;
        margin-left: calc(7vw + 70px);
    }

    .menu {
        height: calc(92vh - 80px);
    }

    .modal_wrap {
        width: 60%;
        /* padding-top: 11.428571429%; */
    }
}

@media screen and (max-width: 767px) {
    html {
        font-size: 16px;
    }

    .input_box svg {
        bottom: 35%;
    }
    .main_forms {
        padding: 0 5.555555556%;
    }

    .modal_wrap {
        width: 100%;
        padding-top: 11.428571429%;
    }

    footer {
        bottom: auto;
    }
    .header {
        justify-content: unset;
        height: 60px;
    }
    .profile {
        margin-right: 0;
        padding-left: 14px;
    }

    .user-name {
        display: none;
    }

    .menu {
        display: none;
    }

    .content {
        margin-left: 0;
        padding-top: 72px;
    }

    .content__title {
        font: 600 1.0625rem "Manrope", sans-serif;
    }

    .btn_add {
        width: 46px;
        height: 46px;
        position: fixed;
        right: 16px;
        top: 60vh;
        z-index: 1;
    }

    .btn_add span {
        display: none;
    }

    .btn_add img {
        margin-right: 0;
    }

    .list__item_names {
        display: none;
    }

    .list__item__col_name {
        width: 100%;
        padding-bottom: 8px;
    }

    .list__item {
        height: 105px;
        padding-left: 16px;
        align-items: end;
        padding-top: 19px;
        justify-content: space-between;
        width: 100vw;
        padding: 19px 16px;
    }

    .list__item__col_name {
        font: 500 0.875rem "Manrope", sans-serif;
        padding-left: 0px;
        color: #919797;
    }

    .list__item__col_inn span {
        font: 500 0.875rem "Manrope", sans-serif;
        color: #919797;
    }

    .list__item__col_adress {
        width: 100%;
    }

    .list__item__col_adress span {
        font: 500 0.875rem "Manrope", sans-serif;
    }

    .list__item_last {
        flex-direction: column;
        justify-content: center;
        width: 100vw;
        height: 100%;
    }
    .page-selector {
        position: inherit;
        width: 100vw;
        align-items: center;
        justify-content: space-between;
        padding: 24px 0;
    }

    .mobile_adapt {
        flex-direction: column;
    }

    .select-number_of_pages {
        padding: 5px 0 25px 0;
        margin-right: 0px;
    }

    .number-page {
        margin-right: 7px;
    }

    .left-menu {
        display: block;
    }

    .menu__item__icon {
        margin-right: 4.17%;
        width: 9vw;
        height: 11vw;
    }
}

@media screen and (max-width: 990px) {
    html {
        font-size: 16px;
    }

    .margin {
        margin-bottom: 60px;
    }

    .padding {
        padding: 0 15px;
    }

    .padding_mob {
        padding: 0 15px;
    }

    .modal_sub_title {
        font: bold 1.375rem "Manrope", sans-serif;
        margin-bottom: 24px;
    }

    .modal_text {
        margin-bottom: 30px;
    }

    .modal_title {
        font: bold 1.375rem "Manrope", sans-serif;
        margin-bottom: 8px;
    }
}

@media screen and (max-width: 576px) {
    .padding_mob {
        padding: 0;
    }

    .modal_panel_wrap {
        max-width: auto;
        width: auto;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
    }

    .input_box {
        padding: 0 7.142857143%;
    }

    .modal_form {
        grid-gap: 35px;
    }

    .modal_text br {
        display: none;
    }

    .forget {
        margin-top: 8.928571429%;
    }
}

@media screen and (max-width: 355px) {
    .modal_form {
        grid-gap: 25px;
    }

    .modal_sub_title {
        margin-bottom: 10px;
    }
}

/* PAGES SAITS*/

.sait-plight {
    display: flex;
    padding-top: 15px;
}

.sait-status {
    margin-right: 16px;
}

.sait-status:last-child img {
    margin-top: -2px;
}

.sait-status__img {
    margin-right: 7px;
}

.sait-status__span {
    font-family: Manrope;
    font: 0.875rem "Manrope", sans-serif;
    color: #1c2e35;
}

.content_uptime {
    padding-top: 110px;
    width: 75%;
    margin-right: 20px;
    margin-left: calc(1vw + 7%);
}

.list__col_name-sait {
    padding-left: 2vw;
    width: 11vw;
}

.list__col_url {
    width: 14vw;
}

.list__col_client {
    width: 10vw;
}

.list__col_count-sait {
    width: 11vw;
}

.list__col_test {
    margin-right: 4vw;
}

.list__col_uptime {
    margin-right: 4vw;
}

.uptime-hint__icon {
    margin-right: 6px;
}

.uptime-hint__icon:hover {
    cursor: pointer;
}

.list__col_bitrix {
    margin-right: 4vw;
}

.list__col_access {
    margin-right: 1vw;
}

.mobile_adapt_names {
    display: flex;
}

.mobile_adapt_date {
    display: flex;
}

.list__item__col_name-sait {
    padding-left: 2vw;
    width: 11vw;
}

.list__item__col_url {
    width: 14vw;
}

.list__item__col_client {
    width: 10vw;
}

.list__item__col_count-sait {
    width: 11vw;
}

.list__item__col_test {
    width: 10.5vw;
}

.list__item__col_uptime {
    width: 8.7vw;
}

.list__item__col_bitrix {
    width: 8.7vw;
}

.list__item__col_access {
    margin-right: 1vw;
}

.list__item__col_name-sait span {
    color: #ed5b4e;
}

.list__item__col_client span {
    color: #919797;
}

.block-warnings {
    margin-top: 160px;
    width: 15%;
    margin-right: 2%;
    filter: drop-shadow(0px 10px 20px rgba(0, 0, 0, 0.1));
    border-radius: 10px;
    background: #fff;
    padding: 24px;
    height: 100%;
}

.block-warnings__img {
    margin-bottom: 4px;
}

.block-warnings__span {
    margin-bottom: 18px;
    padding-bottom: 16px;
    border-bottom: 1px solid #e9eaea;
    font: 400 0.75rem "Manrope", sans-serif;
    display: block;
}

.block-warnings__link {
    color: #ed5b4e;
    font: 600 1rem "Manrope", sans-serif;
}

.uptime-hint {
    position: absolute;
    width: 226px;
    top: 45px;
    padding: 10px;
    right: 15vw;
    background: #1c2e35;
    opacity: 0.95;
    border-radius: 4px;
    display: none;
    z-index: 1;
}

.uptime-hint__span {
    color: #fff;
    font: 0.875rem "Manrope", sans-serif;
}

.block-warnings ul {
    margin-bottom: 12px;
}

.block-warnings li {
    margin-bottom: 8px;
}

.more-sait-error__span {
    font: 600 1rem "Manrope", sans-serif;
    color: #ed5b4e;
    padding: 4px 8px;
    background: #ee5c4f33;
    border-radius: 8px;
    cursor: pointer;
    display: none;
}

.hide-arrow {
    display: none;
}

.shield {
    fill: none !important;
    stroke: #ed5b4e;
}

@media screen and (max-width: 1600px) {
    .list__item__col span:not(.list__item_names .list__item__col span) {
        word-break: break-all;
        line-break: anywhere;
        line-height: 19px;
    }

    .list__col_name-sait {
        width: 12vw;
        margin-right: 1vw;
    }

    .list__col_url {
        width: 15vw;
    }

    .list__col_client {
        width: 12vw;
    }

    .list__col_count-sait {
        width: 11vw;
    }

    .list__col_test {
        margin-right: 2vw;
    }

    .list__col_uptime {
        margin-right: 2vw;
    }

    .list__col_bitrix {
        margin-right: 2vw;
    }

    .list__item__col_uptime {
        margin-right: 0;
        width: 7.5vw;
    }

    .list__item__col_name-sait {
        width: 13vw;
    }

    .list__item__col_name-sait {
        width: 13vw;
    }

    .list__item__col_client {
        margin-right: 2.1vw;
    }

    .list__item__col_url {
        margin-right: 1vw;
    }

    .list__item__col_bitrix {
        width: 8vw;
    }

    .list__item__col_test {
        width: 9.5vw;
    }
}

@media screen and (max-width: 1440px) {
    html {
        font-size: 14px;
    }
    .list__col_url {
        width: 14vw;
        margin-right: 1vw;
    }
    .list__col_client {
        width: 8vw;
        margin-right: 2vw;
    }

    .list__col_test {
        margin-right: 1.5vw;
    }

    .list__col_uptime {
        margin-right: 1.5vw;
    }

    .list__col_bitrix {
        /* margin-right: 1.5vw; */
    }

    html {
        font: 0.875rem "Manrope", sans-serif;
    }
}
@media screen and (max-width: 1280px) {
    .list__col_client {
        margin-right: 0;
    }
}

@media screen and (max-width: 1024px) {
    html {
        font-size: 16px;
    }

    .sait-plight {
        display: none;
        background: #1c2e35;
        border-radius: 4px;
        padding: 16px 16px 6px 16px;
        left: 38vw;
    }

    .sait-status {
        margin-bottom: 10px;
    }

    .sait-status:nth-child(2) > img {
        margin-left: 1px;
        margin-right: 12px;
    }

    .sait-status:nth-child(3) > img {
        margin-left: 4px;
        margin-right: 14px;
    }

    .block-warnings {
        margin-top: 0px;
        padding: 10px;
        width: 50%;
    }

    .content_uptime {
        padding-top: 90px;
        width: 83%;
        margin-left: calc(7vw + 7%);
    }

    .sait-status__span {
        color: #fff;
    }

    .content-top {
        flex-wrap: wrap;
    }
    .content__title {
        width: 100%;
        margin-bottom: 10px;
    }

    .block-warnings_warn {
        display: flex;
        align-items: center;
    }

    .block-warnings ul {
        display: flex;
        flex-wrap: wrap;
    }

    .block-warnings li {
        width: 50%;
    }

    .more-sait-error {
        align-self: center;
    }
    .block-warnings__img {
        width: 46px;
        height: 46px;
        margin-right: 6px;
    }
    .block-warnings__span {
        margin-bottom: 12px;
        padding-bottom: 0px;
        line-height: 17px;
        align-self: center;
    }
}

@media screen and (max-width: 767px) {
    .content-top {
        padding: 16px;
        width: 100%;
        margin-bottom: 10px;
    }

    .block-warnings {
        width: 100%;
    }

    .content_uptime {
        width: 100%;
        margin-left: 0;
    }
    .sait-plight {
        margin-left: 6%;
        position: absolute;
        z-index: 1;
    }

    .mobile_adapt_names {
        display: block;
    }

    .list__item__col_name-sait {
        padding-left: 0;
        width: calc(100vw - 32px);
    }

    .list__item__col_url {
        width: 100%;
    }

    .list__item__col_client {
        display: none;
    }

    .list__item__col {
        margin-bottom: 8px;
    }

    .mobile_adapt_date .list__item__col {
        display: flex;
        width: calc(100vw - 32px);
        justify-content: space-between;
        margin-bottom: 10px;
    }

    .mobile_adapt_date {
        flex-direction: column;
    }

    .content_uptime .list__item {
        height: auto;
    }

    .mobile_adapt_date .list__item__col span {
        color: #919797;
    }

    .mobile_adapt_date .list__item__col img {
        margin-right: 4px;
    }

    .mobile_adapt_date .list__item__col .exclamation {
        margin-right: 9px;
    }

    .list__item__col span:not(.list__item_names .list__item__col span) {
        word-break: normal;
        line-break: auto;
    }

    .list__item__col_name-sait span {
        font: 600 1rem "Manrope", sans-serif;
    }
}
